---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<div class="container-fluid">
        
        <div class="container-fluid title page">
            <div class="row HousePartyOrganization">
                <div class="col-md-12">Row 1, Column 1
                    <h1>House Party<br>
                        Organization</h1>
                    <h2>Tech- Ka Lang</h2>
                    </div>
                </div>
            </div>
            <div class="row hpopic">
                <div class="col-md-12">Row 1, Column 1
                    <img src="public/images/Steam asset.png">
                </div>
            </div>
        </div>
        



        <div class="container-fluid"></div>
        <div class="container-fluid"></div>
        <div class="container-fluid"></div>
    </div>
</BaseLayout>